.navbar{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 50px;
   margin-top: 10px;
   line-height: 10px;
   
    color:white;
    margin-left: 150px;
  
  
}
.logo{
    color: white;
    margin-left: 100px;
    font-size: 30px;
}

.head{
    display: flex;
   
    height: 100px;
    width: 100%;
    background-color: red;
}
.button{
    height: 30px;
    width: 100px;
    margin-top: 40px;
    background-color: aqua;
    border-radius: 20px;
    margin-left: 300px;
}